body {
  background-color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  place-items: center;
  margin: 0;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

form {
  font-size: 1.1em !important;
}

.container {
  background: white;
  display: inline-block;
  padding: 20px;
  box-shadow: 4px 10px 10px rgb(114, 114, 114);
  border-radius: 10px;
}

label,
input,
button {
  display: block;
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
}

input,
textarea {
  color: black;
  border: none;
  width: 250px;
  height: 18px;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  box-shadow: 4px 4px 6px #b5b5b5;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

button {
  color: black;
  background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
  border: none;
  width: 270px;
  height: 40px;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

textarea {
  min-width: 250px;
  min-height: 50px;
  font-size: 0.9em;
}

label {
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
}
